@page "/Communities/Create"
@model CommunityApp.Pages.Communities.CreateModel
@{
    ViewData["Title"] = "Create Community";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">
            <form method="post">

                <div class="form-group mb-2">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}