@page
@model CommunityApp.Pages.Communities.IndexModel
@{
    ViewData["Title"] = Model.CanManageAllCommunities ? "All Communities" : "My Communities";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">

            @if (Model.CanManageAllCommunities)
            {
                <a asp-page="./Create" class="btn btn-success mb-3">Create new Community</a>                
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var community in Model.Communities)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Details" asp-route-CommunityId="@community.Id">@community.Name</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>