@page "/Communities/{CommunityId:int}/RemoveManager/{UserId}"
@model CommunityApp.Pages.Communities.RemoveManagerModel
@{
    ViewData["Title"] = "Remove Manager";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">

            <form method="post">

                <p class="text-danger">Are you sure you want to remove this Manager from the Community?</p>

                <button type="submit" class="btn btn-danger">Remove</button>
                <a asp-page="./Details" asp-route-CommunityId="@Model.CommunityId" class="btn btn-secondary">Cancel</a>

            </form>

        </div>
    </div>
</section>