@page "/Users/{UserId}/AddManager"
@model CommunityApp.Pages.Users.AddManagerModel
@{
    ViewData["Title"] = "Add a Manager";
}

<section class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="card mt-4">
        <div class="card-body">

            <form method="post">

                <p><strong>@Model.UserDto!.UserName</strong></p>

                <p class="text-danger">Are you sure you want to make this user a Manager?</p>

                <button type="submit" class="btn btn-primary">Make Manager</button>
                <a asp-page="./Details" asp-route-UserId="@Model.UserId" class="btn btn-secondary">Cancel</a>

            </form>

        </div>
    </div>
</section>