@page "/Users/{UserId}/RemoveManager"
@model CommunityApp.Pages.Users.RemoveManagerModel
@{
    ViewData["Title"] = "Remove a Manager";
}

<section class="container mt-4">
    <h1 class="h3 mb-0">@ViewData["Title"]</h1>

    <form method="post">

        <p><strong>@Model.UserDto!.UserName</strong></p>

        <p class="text-danger">Are you sure you want to remove this manager?</p>

        <button type="submit" class="btn btn-success">Remove Manager</button>

        <a asp-page="./Details" asp-route-UserId="@Model.UserId" class="btn btn-secondary">Cancel</a>

    </form>

</section>